<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo da Empresa" height="40">
            </a>
            <div class="ms-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="entrada.html">Entradas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="saida.html">Saídas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="estoque.html">Estoque</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="card shadow bg-info text-white">
            <div class="card-body">
                <h4 class="card-title text-center">Registro de Saida de Embalagens</h4>

                <form action="http://localhost:5000/entrada_embalagem" method="POST">
                    
                    <div class="row mb-4 mt-5">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Código do Produto</label>
                            <select class="form-select" id="cod_produto_embalagem" name="cod_produto_embalagem">
                                <option>Selecione</option>
                                <option value="I012277">I012277 - Saco Plástico</option>
                                <option value="I012278">I012278 - Saco Poliex</option>
                                <option value="I012219">I012219 - Embalagem Plástica</option>
                                <option value="I012378">I012378 - Caixa de Papelão Pequena</option>
                                <option value="I005720">I005720 - Fita Adesiva Transparente</option>
                                <option value="I012604">I012604 - Plástico Bolha</option>
                                <option value="I014062">I014062 - Fita de Arquear</option>
                                <option value="I012279">I012279 - Filme Stretch</option>
                                <option value="I013797">I013797 - Cantoneira de Papelão</option>
                                <option value="I012714">I012714 - Protetor de Espuma</option>
                                <option value="I007237">I007237 - Papel Kraft</option>
                                <option value="I012890">I012890 - Saco de Lixo Reforçado</option>
                                <option value="I013394">I013394 - Fita Gomada</option>
                                <option value="I000886">I000886 - Etiqueta Adesiva</option>
                                <option value="I001215">I001215 - Caixa de Papelão Grande</option>
                                <option value="I012417">I012417 - Saco Plástico com Fecho Zip</option>
                                <option value="I013283">I013283 - Pallet Plástico</option>
                                <option value="I002191">I002191 - Fita Adesiva Dupla Face</option>
                                <option value="I012218">I012218 - Bobina de Plástico</option>
                                <option value="I012282">I012282 - Fita de Embalagem</option>
                                <option value="I014109">I014109 - Sacola de Papel</option>
                                <option value="I014243">I014243 - Tubo de Envio</option>
                                <option value="I004333">I004333 - Envelopes de Segurança</option>
                                <option value="I001630">I001630 - Protetor de Canto</option>
                            </select>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label class="form-label">Descrição do Produto</label>
                            <input type="text" class="form-control" id="nomeProduto" readonly>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">OP</label>
                            <input type="text" class="form-control" id="nf" name="nf">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Quantidade</label>
                            <input type="number" class="form-control" id="quantidade_recebida" name="quantidade_recebida">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Responsável</label>
                            <input type="text" class="form-control" id="responsavel_recebimento" name="responsavel_recebimento">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Data</label>
                            <input type="date" class="form-control" id="data_recebimento" name="data_recebimento">
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-success btn-sm me-2">Registrar Saida</button>
                        <button type="button" class="btn btn-primary btn-sm">Ver Registro Diário</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>